*{
  font-size: 20px;
  margin:0;
  padding: 0;
}

.titlefont{
  font-family: 'Nova Script', cursive;
}
.wrapper{
  width:100%;
  max-width: 1280px;
  margin:0 auto;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Dekko', cursive;
}
.title{
  color: #ffffff;
  padding: 10px;
  margin: 0;
  display: block;
  text-align: center;
}

body{
  background-color: #ffffff;
  margin: 0;
  font-family: 'Nova Script', cursive;
}
/*Nav related content*/
nav{
  background-color: #F44336;
}
nav ul{
  list-style-type: none;
  padding: 0;
}
nav a{
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 10px
}
nav a:hover{
  color: black;
}
article div{
  padding: 10px;
  text-align: center;
  background-color: white;
}
article div p{
  padding: 10px;
  text-align: center;
  margin: 5px;
}
/*End of nav and start of page*/



@media screen and (min-width: 768px) {
  ul{
    display: flex;
    justify-content: center;
}
  ul li{
    flex: 1 0 1;
    padding: 0;
    margin: 0;
  }
  nav{
    display: flex;
  }

}
